# Dependencies
node_modules/

# Build
dist/
*.local
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local
